# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include LICENSE

# Including
# Python source files, test/*.py will be automatically included.
recursive-include gastosabertos *.py
# Templates
recursive-include gastosabertos/templates *
# Static files
recursive-include gastosabertos/static *
# Translations
recursive-include gastosabertos/translations *

recursive-include gastosabertos/receita/static *
recursive-include gastosabertos/receita/templates *

recursive-include gastosabertos/contratos/static *
recursive-include gastosabertos/contratos/templates *


# Excluding
recursive-exclude gastosabertos *.pyc
recursive-exclude tests *.pyc
