{% extends "contratos.html" %}

{% block title %} Contrato {{ contrato.numero }} {% endblock %}
{% block content %}

<div class="starter-template">
<p>
{% if contrato.file_url %}
<div class="btn-group btn-group-center" role="toolbar" style="text-align: center;">
<a class="btn btn-group btn-info" href="{{ contrato.file_url }}"><span class="glyphicon glyphicon-download"></span>Original</a>
{% endif %}
{% if contrato.txt_file_url %}
<a class="btn btn-group btn-info" href="{{ contrato.txt_file_url }}"><span class="glyphicon glyphicon-file"></span> Txt</a>
{% endif %}
<a class="btn btn-group btn-info" href="http://devcolab.each.usp.br/do/?per_page=20&q=%22{{ contrato.processo_administrativo }}%22&sort=data+asc">Informações no Diário Livre</a>
</div>
<p/>
<div>
<strong>Objeto:</strong> {{ contrato.objeto }}
</div>
<p>
<table class="table">
<thead>
<th>Valor (R$)</th>
<th>Nome do fornecedor</th>
<th>CNPJ</th>
<th>Orgão</th>
<th>Vigência (dias)</th>
<th>Modalidade</th>
<th>Evento</th>
<th>Processo Administrativo</th>
<th>Licitação</th>
<th>Data de Assinatura</th>
<th>Data de Publicação</th>
</thead>
<tbody>
<tr>
<td>{{ contrato.fvalor }}</td>
<td>{{ contrato.nome_fornecedor }}</td>
<td><a href="/contrato/cnpj/{{ contrato.clean_cnpj }}">{{ contrato.cnpj }}</a></td>
<td>{{ contrato.orgao }}</td>
<td>{{ contrato.vigencia }}</td>
<td>{{ contrato.modalidade }}</td>
<td>{{ contrato.evento }}</td>
<td>{{ contrato.processo_administrativo }}</td>
<td>{{ contrato.licitacao }}</td>
<td>{{ contrato.fdata_assinatura }}</td>
<td>{{ contrato.fdata_publicacao }}</td>
</tr>
</tbody>
</table>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'contratosprefeituradesaopaulo';
    var disqus_identifier = 'Contrato {{ contrato.numero }}';
    var disqus_title = 'Contrato {{ contrato.numero }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

{% endblock content %}



