{% extends "contratos.html" %}

{% block content %}

<div class="starter-template">
<div>
<strong>{{ count }} contratos</strong>
</div>
{{ pagination.links }}
<table class="table table-striped table-bordered">
<thead>
<th>Página</th>
<th>Valor (R$)</th>
<th>Nome do fornecedor / CNPJ</th>
<th>Orgão</th>
<th>Vigência (dias)</th>
<th>Modalidade</th>
<th>Evento</th>
<th>Processo Administrativo</th>
<th>Licitação</th>
<th>Data de Assinatura</th>
<th>Data de Publicação</th>
</thead>
<tbody>
{% for contrato in contratos %}
<tr>
<td colspan="11" style="text-aling: center;">
    <div style="width: 50%; margin: auto;">
    {{ contrato.objeto }}
    </div>
</td>
</tr>
<tr>
<td><a href="/contrato/{{ contrato.numero }}"><span class="glyphicon glyphicon-comment"></span>Discuta</a></td>
<td>{{ contrato.fvalor }}</td>
<td><a href="/contrato/cnpj/{{ contrato.clean_cnpj }}">{{ contrato.nome_fornecedor }}
<p>{{ contrato.cnpj }}</a></td>
<td>{{ contrato.orgao }}</td>
<td>{{ contrato.vigencia }}</td>
<td>{{ contrato.modalidade }}</td>
<td>{{ contrato.evento }}</td>
<td>{{ contrato.processo_administrativo }}
<a class="btn btn-info" href="http://devcolab.each.usp.br/do/?per_page=20&q=%22{{ contrato.processo_administrativo }}%22&sort=data+asc">Diário Livre</a></a>
<td>{{ contrato.licitacao }}</td>
<td>{{ contrato.fdata_assinatura }}</td>
<td>{{ contrato.fdata_publicacao }}</td>
</tr>

{% endfor %} 
</tbody>
</table>
{{ pagination.links }}
</div>

{% endblock content %}



