{% extends "contratos.html" %}

{% block content %}

<div class="starter-template">
{% block acima_lista %}
{% endblock %}
<table class="table table-striped table-bordered">
<thead>
<th>#</th>
<th>Página</th>
<th>Valor (R$)</th>
<th>Nome do fornecedor / CNPJ</th>
<th>Orgão</th>
<th>Vigência (dias)</th>
<th>Modalidade</th>
<th>Evento</th>
<th>Processo Administrativo</th>
<th>Licitação</th>
<th>Data de Assinatura</th>
<th>Data de Publicação</th>
</thead>
<tbody>
{% for contrato in contratos %}
<tr>
<td rowspan="2">
<strong>{{ contrato.numero }}</strong>
<p>
{% if contrato.file_url %}
<a href="{{ contrato.file_url }}"><span class="glyphicon glyphicon-download"></span>Original</a>
{% endif %}
<p>
{% if contrato.txt_file_url %}
<a href="{{ contrato.txt_file_url }}"><span class="glyphicon glyphicon-file"></span> Txt</a>
{% endif %}
</td>
<td colspan="11" style="text-aling: center;">
    <div style="width: 50%; margin: auto;">
    {{ contrato.objeto }}
    </div>
</td>
</tr>
<tr>
<td><a href="/contrato/{{ contrato.numero }}"><span class="glyphicon glyphicon-comment"></span>Discuta</a></td>
<td>{{ contrato.fvalor }}</td>
<td><a href="/contrato/cnpj/{{ contrato.clean_cnpj }}">{{ contrato.nome_fornecedor }}
<p>{{ contrato.cnpj }}</a></td>
<td><a href="/contrato/orgao/{{ contrato.orgao }}">{{ contrato.orgao }}</a></td>
<td>{{ contrato.vigencia }}</td>
<td><a href="/contrato/modalidade/{{ contrato.modalidade }}">{{ contrato.modalidade }}</a></td>
<td><a href="/contrato/evento/{{ contrato.evento }}">{{ contrato.evento }}</a></td>
<td>{{ contrato.processo_administrativo }}
<a class="btn btn-info" href="http://devcolab.each.usp.br/do/?per_page=20&q=%22{{ contrato.processo_administrativo }}%22&sort=data+asc">Diário Livre</a></a>
<td>{{ contrato.licitacao }}</td>
<td>{{ contrato.fdata_assinatura }}</td>
<td>{{ contrato.fdata_publicacao }}</td>
</tr>

{% endfor %} 
</tbody>
</table>
{% block abaixo_lista %}
{% endblock %}
</div>

{% endblock content %}



